<section class="home-section home-full-height" data-background="assets/images/background2.png">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3">
        <h4 class="font-alt titan-title-size-3">Login as Admin</h4>
        <form class="form">
          <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Username"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password"/>
          </div>
          <div class="button-space"></div>
          <div class="form-group">
            <button id="login-button" class="btn btn-round btn-b"><a href="/admin_dashboard">Login</a></button>
          </div>
          <div class="form-group"><a href="">Forgot Password?</a></div>
        </form>
      </div>
    </div>
  </div>
</section>
