<nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
  <div class="navbar-header col-md-2">
      <a class="nav navbar-nav navbar-brand"><i class="fa fa-spinner fa-spin fa-1x" style="color: #00FFFF;"></i>Sirenet</a>
  </div>
  <div class="collapse navbar-collapse" id="custom-collapse">
    <ul class="nav navbar-nav navbar-right" routerLink="active">
      <li><a class="navbar-brand" href="/admin_login">Login as Admin</a></li>
      <li><a class="navbar-brand">|</a><li>
      <li><a class="navbar-brand" href="/user_login">Login as User</a></li>
    </ul>
  </div>
</nav>

<section class="home-section home-full-height" data-background="assets/images/background1.jpg">
  <div class="responsive-module video-player"     data-property="{videoURL:'https://www.youtube.com/watch?v=00CtuaynOLQ', containment:'.home-section', startAt:1, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:15}">
  </div>
    <div class="video-controls-box">
      <div class="container">
        <div class="video-controls">
          <a class="fa fa-pause" id="video-play" href="#">&nbsp;</a>
        </div>
      </div>
    </div>
    <div class="titan-caption">
      <div class="caption-content">
          <div class="font-alt mb-80 titan-title-size-4"><span class="rotate">Enterprise Business Architecture | Innovative Technology Concepts | Artifical Intelligence Framework | Welcome to Sirenet</span>
          </div>
          <div class="angle-down-space"></div>
          <div><a class="section-scroll" href="#about"><i class="fa fa-angle-down fa-5x"></i></a></div>
      </div>
    </div>
</section>

<section class="module" data-background="assets/images/background2.png">
  <div class="container">
    <div class="row">
      <div id="about" class="col-lg-12 align-center">
        <h2 class="font-alt titan-title-size-3">Who are We?</h2>
        <div class="font-alt titan-title-size-2">We’re a miami based Information Technology Center combining leading industry standards with forward-looking principles to increase your footprint in today's global networking enviornment</div>
        <div  class="double-spacing"></div>
      </div>
    </div>
  </div>
</section>
