<nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
  <div class="navbar-header col-md-8">
      <a class="nav navbar-nav navbar-brand" href="/admins"><i class="fa fa-spinner fa-spin fa-1x" style="color: #00FFFF;"></i>Sirenet Admin Dashboard | Admin Profile Information</a>
  </div>
</nav>

  <section class="home-section home-full-height" data-background="assets/images/background2.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
          <h4 class="font-alt titan-title-size-3">Admin Profile</h4>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                  <input class="form-control" type = "text" name="name" placeholder="First & Last Name"
                      required [(ngModel)]="admin.name" name="adminName">
            </div>
            <div class="form-group">
                  <input class="form-control" type="text" name="role"
                      placeholder="Role"
                      required [(ngModel)]="admin.role"name="adminRole">
            </div>
            <div class="form-group">
                  <input class="form-control"  type="password"name="password" placeholder="Password"
                      required [(ngModel)]="admin.password"name="adminPassword">
            </div>
            <div class="button-space"></div>
            <div class="form-group">
              <input class="btn btn-round btn-b" type="submit" value="Create">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
